body    {
    font-family: Ubuntu
}

background-repeat:no-repeat;

.navbar-default  {
    background-color: #000000;
    border-color: #000000;
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;

}

a:hover  {
    color: #ADADAD !important;
}

a:visited {
    color: #FFFFFF !important;
}

#bs-example-navbar-collapse-1 {
    padding-top: 3px;
}


#mainContainer {
    margin-top: 7%;
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
    width: 35%;
}

p   {
    font-size: 17px;
    color: black;


}


h1  {
    color: black;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
}
